@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Poppins:300,700,500);

*:not(body):not(html) {
  box-sizing: border-box;
  margin: .5vh .5vw .5vh .5vw;
}
.wrap {
  width: 100vw;
  height: 100vh;
  background-image: url(img/teachaite4.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
}

p {
  font-family: "Poppins";
  font-weight: 300;
}

#siteTitle p{
    font-family: "Fjalla One";
    font-size: 2em;
}


.cf:after {
  content: "";
  display: block;
  clear: both;
}

.wrap {
  background-color: lightgrey;
}

a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  float: left;
  margin-top: .1vh;
  margin-bottom: .1vh;
  text-decoration: none;
  color: black;
}

a:hover {
  color: firebrick;
}

@media only screen and (max-width: 400px) {

  .hide {
    display: none;
  }

.wrap {
  height: 145vh;
  padding-left: 4vw;
  padding-top: 2vh;
  background-position: bottom;
}

a {
  padding-right: 4.15vw;
}

header {
  width: 90vw;
  text-align: left;
  padding-left: 2vw;
  background-color: grey;
}


#siteTitle {
  margin-right: 3vw;
  background-color: white;
}

#collage {
  width: 90vw;
}

footer {
width: 91vw;
background-color: grey;
padding-right: 2vw;
padding-left: 2vw;
}

footer a {
  font-size: .75em;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  font-weight: 500;
}

#mailing {
  font-weight: 500;
}

#signUp {
  height: 25px;
  width: 86vw;
  margin-bottom: 7vh;
  background: white;
}

.submit {
  text-align: center;
  height: 25px;
  width: 75px;
  box-sizing: border-box;
  position: relative;
  top: -32px;
  right: -3px;
  float: right;
  color: black;
  background: lightgrey;
}

.submit:hover {
  color: firebrick;
}

#collageThin {
  display: none;
}

}


@media only screen and (min-width: 401px) and (max-width: 550px) {

.wrap {
    background-position: left 53vh;
    background-size: 35vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:5vw;
  }

#siteNav {
  box-sizing: border-box;
  margin-top: 15vh;
  float: left;
  width: 20vw;
  position: relative;
  margin-left: -130px;
  top: -40px;
  line-height: 2em;

}

#siteNav a{
  display: block;
  font-size: 1em;
  float: left;
  padding-left: .5em;
  padding-right: .5em;
  position: relative;
  text-decoration: none;
  color: black;
  }

#collage {
  display: none;
}

#collageThin {
  width: 60vw;
  float: right;
  box-sizing: border-box;
  position: relative;
  top: -53vh;
  margin-right: 2vw;
}

#siteTitle  p{
  color: black;
  float: left;
  font-size: 1.75em;
}

footer {
  box-sizing: border-box;
  position: relative;
  top: -52vh;
  width: 92vw;
  background-color: grey;
  padding-left: 2vw;
}

footer a {
  font-size: .75em;
  font-weight: 500;
  text-align: center;
  width: 21vw;
  padding: none;
}

#mailing {
  font-weight: 500;
}

#signUp {
  height: 25px;
  width: 86vw;
  margin-bottom: 7vh;
  background: white;
}

.submit {
  text-align: center;
  height: 25px;
  width: 75px;
  box-sizing: border-box;
  position: relative;
  top: -32px;
  right: -3px;
  float: right;
  color: black;
  background: lightgrey;
}

.submit:hover {
  color: firebrick;
}
}


@media only screen and (min-width: 551px) and (max-width: 940px) {
  .wrap {
    background-position: left 53vh;
    background-size: 38vw;
  }

~
  #siteNav {
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 15vh;
    float: left;
    width: 20vw;
    position: relative;
    margin-left: -120px;
    top: -40px;
    line-height: 2em;

  }

  #siteNav a{
    display: block;
    font-size: 1em;
    float: left;
    padding-left: .5em;
    padding-right: .5em;
    position: relative;
    text-decoration: none;
    color: black;
    }
    ~

  a {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1em;
    float: left;
    padding-right: 4.15vw;
    margin-top: .1vh;
    margin-bottom: .1vh;
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: firebrick;
  }

  #siteTitle {
    color: firebrick;
  }

  header {
    width: 30vw;
    float: left;
  }

  #collage {
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    left: 300px;

  }

  #collageThin {
    display: none;
  }

  #siteNav {
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 15vh;
    float: left;
    width: 20vw;
    position: relative;
    margin-left: -120px;
    top: -40px;
    line-height: 2em;

  }

  #siteNav a{
    display: block;
    font-size: 1em;
    float: left;
    padding-left: .5em;
    padding-right: .5em;
    position: relative;
    text-decoration: none;
    color: black;
    }

}


@media only screen and (min-width: 941px) {
  .wrap {
    border: 1px solid black;
    background-position: left 53vh;
    background-size: 38vw;
  }

  #siteNav {
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 15vh;
    float: left;
    width: 20vw;
    position: relative;
    margin-left: -120px;
    top: -40px;
    line-height: 2em;

  }

  #siteNav a{
    display: block;
    font-size: 1em;
    float: left;
    padding-left: .5em;
    padding-right: .5em;
    position: relative;
    text-decoration: none;
    color: black;
    }

  #collage {
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
    top: 0px;

  }

  #collageThin {
    display: none;
  }

}
