@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Poppins:300,700,500);

*:not(body):not(html) {
  box-sizing: border-box;
  margin: .5vh .5vw .5vh .5vw;
}

.wrap {
  width: 100vw;
  height: 100vh;
  background-image: url(img/teachaite4.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
}

p {
  font-family: "Poppins";
  font-weight: 300;
}

#siteTitle p{
    font-family: "Fjalla One";
    font-size: 2em;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

.wrap {
  background-color: lightgrey;
}

a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  float: left;
  margin-top: .1vh;
  margin-bottom: .1vh;
  text-decoration: none;
  color: black;
}

a:hover {
  color: firebrick;
}

@media only screen and (max-width: 400px) {

.hide {
  display: none;
}

.wrap {
  height: 145vh;
  padding-left: 4vw;
  padding-top: 2vh;
  background-position: bottom;
}

a {
  padding-right: 4.15vw;
}

header {
  width: 90vw;
  text-align: left;
  padding-left: 2vw;
  background-color: grey;
}

#siteTitle {
  margin-right: 3vw;
  background-color: white;
}

#collage {
  width: 90vw;
}

footer {
  width: 91vw;
  background-color: grey;
  padding-right: 2vw;
  padding-left: 2vw;
}

footer a {
  font-size: .75em;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  font-weight: 500;
}

#mailing {
  font-weight: 500;
}

#signUp {
  height: 25px;
  width: 86vw;
  margin-bottom: 7vh;
  background: white;
}

.submit {
  text-align: center;
  height: 25px;
  width: 75px;
  box-sizing: border-box;
  position: relative;
  top: -32px;
  right: -3px;
  float: right;
  color: black;
  background: lightgrey;
}

.submit:hover {
  color: firebrick;
}

#collageThin {
  display: none;
}

#locations {
  display: none;
}
}

@media only screen and (min-width: 401px) and (max-width: 550px) {

.wrap {
    background-position: left 50vh;
    background-size: 35vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:3vw;
    height: 100vh;
  }

header {
  width: 30vw;
  background: gray;
}

#siteTitle p {
  font-size: 1.5em;
  background: white;
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;
}

#siteNav a {
  padding-left: 2.25vw;
  padding-right: 2.25vw;
  font-size: 1em;
}

#collage {
  display: none;
}

#collageThin {
  width: 60vw;
  float: right;
  box-sizing: border-box;
  position: relative;
  top: -38vh;
  margin-right: 2vw;
}

footer {
  box-sizing: border-box;
  position: relative;
  top: -38vh;
  width: 92vw;
  background-color: grey;
  padding-left: 2vw;
}

footer a {
  font-size: .75em;
  font-weight: 500;
  text-align: center;
  width: 21vw;
  padding: none;
}

#mailing {
  font-weight: 500;
}

#signUp {
  height: 25px;
  width: 86vw;
  margin-bottom: 7vh;
  background: white;
}

.submit {
  text-align: center;
  height: 25px;
  width: 75px;
  box-sizing: border-box;
  position: relative;
  top: -32px;
  right: -3px;
  float: right;
  color: black;
  background: lightgrey;
}

.submit:hover {
  color: firebrick;
}

#locations {
  display: none;
}

}

@media only screen and (min-width: 551px) and (max-width: 854px) {
  .wrap {
    background-position: left 53vh;
    background-size: 38vw;
    padding-top: 3vh;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    width: 100vw;
  }

  header {
  width: 30vw;
  max-width: 175px;
  background: gray;
  }

  #siteTitle p {
    font-size: 1.5em;
    background: white;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  #siteNav a {
    padding-left: 2.25vw;
    padding-right: 3.5vw;
    font-size: 1em;
  }

  #collage {
    width: 99vw;
    max-height: 99vh;
    max-width: 99vh;
    box-sizing: border-box;
    position: absolute;
    left: 205px;
    top: 4vh;
    margin-left: 1vw;

  }

  #collageThin {
    display: none;
  }

  footer {
    box-sizing: border-box;
    position: relative;
    width: 30vw;
    max-width: 175px;
    background-color: grey;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  footer a {
    font-size: .75em;
    font-weight: 500;
    text-align: center;
    width: 138px;
    padding-left: 2vw;
    border: 1px solid black;
  }

  #mailing {
    font-weight: 500;
    font-size: .85em;
  }

  #signUp {
    height: 25px;
    width: 138px;
    margin-bottom: 7vh;
    background: white;
  }

  .submit {
    text-align: center;
    height: 25px;
    width: 138px;
    box-sizing: border-box;
    position: relative;
    top: .25vh;
    right: -3px;
    float: right;
    color: black;
    background: lightgrey;
  }

  .submit:hover {
    color: firebrick;
  }

  #locations {
    display: none;
  }
}

@media only screen and (min-width: 855px) {
  .wrap {
    background-position: left 53vh;
    background-size: 38vw;
    padding-top: 3vh;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    width: 100vw;
  }

    header {
    max-width: 175px;
    background: gray;
    position: absolute;
    right: 655px;
  }

  #siteTitle p {
    font-size: 1.5em;
    background: white;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
  }


  #siteNav a {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em;
  }

  footer {
    box-sizing: border-box;
    position: relative;
    top: -4px;
    width: 30vw;
    max-width: 175px;
    background-color: grey;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 3vh;
    float: left;
  }

  footer a {
    font-size: .75em;
    font-weight: 500;
    text-align: center;
    width: 138px;
    padding-left: 1vw;
    border: 1px solid black;
  }

  #mailing {
    font-weight: 500;
    font-size: .85em;
  }

  #signUp {
    height: 25px;
    width: 138px;
    margin-bottom: 7vh;
    background: white;
  }

  .submit {
    text-align: center;
    height: 25px;
    width: 138px;
    box-sizing: border-box;
    position: relative;
    top: .25vh;
    right: -3px;
    float: right;
    color: black;
    background: lightgrey;
  }

  .submit:hover {
    color: firebrick;
  }

  #collage {
    height: 98vh;
    box-sizing: border-box;
    position: absolute;
    right: 20px;
    top: 4vh;
  }

  #collageThin {
    display: none;
  }
}
